
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div>
    <form  #form="ngForm" >
        <div class="col-md-12">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <label for="cognizant_id">CognizantID:</label>
                        </td>
                        <td>
                            <input type="text" name="Cognizant_ID" [(ngModel)]="formData.Cognizant_ID" id="Cognizant_ID" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Name:</label>
                        </td>
                        <td>
                            <input type="text" name="Cognizant_Name" [(ngModel)]="formData.Cognizant_Name" id="Cognizant_Name" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="Cognizant_Grade">Grade:</label>
                        </td>
                        <td>
                            <select  name="Cognizant_Grade" [(ngModel)]="formData.Cognizant_Grade" id="Cognizant_Grade" class="form-control">
                                <option *ngFor="let alloc of grade" [value]=alloc.id>{{alloc.name}}</option>
                                
                            </select>
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">SkillSet:</label>
                        </td>
                        <td>
                            <input type="text" name="Skill_Sets" [(ngModel)]="formData.Skill_Sets" id="Skill_Sets" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Location:</label>
                        </td>
                        <td>
                            <input type="text" name="Location" [(ngModel)]="formData.Location" id="Location" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Cognizant Line Manager:</label>
                        </td>
                        <td>
                            <input type="text" name="Cts_Line_Mgr" [(ngModel)]="formData.Cts_Line_Mgr" id="Cts_Line_Mgr" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Esa Project Name:</label>
                        </td>
                        <td>
                           <select  name="ESA_Prj_Name" [(ngModel)]="formData.ESA_Prj_Name" id="ESA_Prj_Name" class="form-control">
                                <option *ngFor="let radi of esaproject" [value]=radi.id>{{radi.name}}</option>
                        </select>
                      </td>
                  </tr>
                  <tr>
                      <td>
                           <label for="Bill_NBill">Billable:</label>
                      </td>
                      <td>
                           <select  name="Bill_NBill" [(ngModel)]="formData.Bill_NBill" id="Bill_NBill" class="form-control">
                                <option *ngFor="let radi of billable" [value]=radi.id>{{radi.name}}</option>
                        </select>
                      </td>
                 </tr>
                 <tr>
                        <td>
                            <label for="cognizant_id">Resource Allocation End Date:</label>
                        </td>
                        <td>
                            <input type="date" name="Rsrc_Alloc_End_Dt" [(ngModel)]="formData.Rsrc_Alloc_End_Dt" id="Rsrc_Alloc_End_Dt" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Visa End Date Onshore:</label>
                        </td>
                        <td>
                            <input type="date" name="VI_End_Dt_Onshore" [(ngModel)]="formData.VI_End_Dt_Onshore" id="VI_End_Dt_Onshore" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Visa Type:</label>
                        </td>
                        <td>
                            <input type="text" name="VI_Type" [(ngModel)]="formData.VI_Type" id="VI_Type" class="form-control">
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Visa Exten-possi-Beyond Date:</label>
                        </td>
                        <td>
                          <label for="Yes2" class="radio-inline">
                          <input type="radio" name="VI_Ext_Posbl_Bynd_Enddt"  value="1" [(ngModel)]="formData.VI_Ext_Posbl_Bynd_Enddt"  id="VI_Ext_Posbl_Bynd_Enddt">Yes</label>
                          <label for="no2" class="radio-inline">
                         <input type="radio"  value="0" name="VI_Ext_Posbl_Bynd_Enddt" [(ngModel)]="formData.VI_Ext_Posbl_Bynd_Enddt"  id="VI_Ext_Posbl_Bynd_Enddt">No</label>
                        </td>
                  </tr>
                  <tr>
                        <td>
                            <label for="cognizant_id">Visa How Long Can-it-Extends?:</label>
                        </td>
                        <td>
                            <input type="text" name="VI_Hw_Lng_Can_Ext " [(ngModel)]="formData.VI_Hw_Lng_Can_Ext " id="VI_Hw_Lng_Can_Ext " class="form-control">
                        </td>
                  </tr>
                   <tr>
                        <td>
                            <label for="cognizant_id">Visa Exten-Possible From Uk?:</label>
                        </td>
                        <td>
                           <label for="Yes" class="radio-inline">
                          <input type="radio" name="VI_Ext_Posble_Frm_UK" [(ngModel)]="formData.VI_Ext_Posble_Frm_UK" value="1" id="VI_Ext_Posble_Frm_UK">Yes</label>
                          <label for="No" class="radio-inline">
                         <input type="radio" name="VI_Ext_Posble_Frm_UK" [(ngModel)]="formData.VI_Ext_Posble_Frm_UK" value="0" id="VI_Ext_Posble_Frm_UK">No</label>
                        </td>
                  </tr>
                </table>
                
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <label for="cognizant_id">Resource Name:</label>
                        </td>
                        <td>
                            <input type="text" name="Resource_Name" [(ngModel)]="formData.Resource_Name" id="Resource_Name" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Ratecard-Role:</label>
                        </td>
                         <td>
                            <select  name="Rate_Card_Role" [(ngModel)]="formData.Rate_Card_Role" id="Rate_Card_Role" class="form-control" placeholder="select">
                                <option *ngFor="let alloc of ratecardrole" [value]=alloc.id>{{alloc.name}}</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Ratecard-Day-Rate:</label>
                        </td>
                        <td>
                            <input type="text" name="Rate_Card_Day_Rate" [(ngModel)]="formData.Rate_Card_Day_Rate" id="Rate_Card_Day_Rate" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Onshore/Off-shore:</label>
                        </td>
                        <td>
                            <input type="text" name="On_Off_2017" [(ngModel)]="formData.On_Off_2017" id="On_Off_2017" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Project-Programme:</label>
                        </td>
                        <td>
                            <select  name="Project_Programme" [(ngModel)]="formData.Project_Programme" id="Project_Programme" class="form-control" placeholder="select">
                                <option *ngFor="let alloc of programme" [value]=alloc.id>{{alloc.name}}</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Portfolio:</label>
                        </td>
                        <td>
                            <input type="text" name="Portfolio_2017" [(ngModel)]="formData.Portfolio_2017" id="Portfolio_2017" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Old-Sow:</label>
                        </td>
                        <td>
                            <input type="text" name="Old_SOW" [(ngModel)]="formData.Old_SOW" id="Old_SOW" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">new-sow End Date:</label>
                        </td>
                        <td>
                            <input type="date" name="New_SOW_End_date" [(ngModel)]="formData.New_SOW_End_date" id="New_SOW_End_date" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">New-Sow:</label>
                        </td>
                        <td>
                            <input type="text" name="New_SOW" [(ngModel)]="formData.New_SOW" id="New_SOW" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">Billable:</label>
                        </td>
                             <td>
                            <select  name="Billable" [(ngModel)]="formData.Billable" id="Billable" class="form-control" placeholder="select">
                                <option *ngFor="let alloc of billable" [value]=alloc.id>{{alloc.name}}</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">RLG Account:</label>
                        </td>
                              <td>
                           <label for="Yes" class="radio-inline">
                          <input type="radio" name="RLG_Account_Y_N" [(ngModel)]="RLG_Account_Y_N" value="1" id="RLG_Account_Y_N" (click)="toggle()" checked >Yes</label>
                          <label for="No" class="radio-inline">
                         <input type="radio" name="RLG_Account_Y_N" [(ngModel)]="RLG_Account_Y_N" value="0" id="RLG_Account_Y_N">No</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">RLG-staffId:</label>
                        </td>
                        <td>
                            <input type="text" name="RLG_StaffID" [(ngModel)]="formData.RLG_StaffID" id="RLG_StaffID" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">CTS-EL:</label>
                        </td>
                        <td>
                            <input type="text" name="CTS_EL" [(ngModel)]="formData.CTS_EL" id="CTS_EL" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">RLGId:</label>
                        </td>
                        <td>
                            <input type="text" name="RLG_ID" [(ngModel)]="formData.RLG_ID" id="RLG_ID" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">RLG-Email:</label>
                        </td>
                        <td>
                            <input type="text" name="RLG_Email" [(ngModel)]="formData.RLG_Email" id="RLG_Email" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">RLG Joining Date:</label>
                        </td>
                        <td>
                            <input type="date" name="RLG_Join_Date" [(ngModel)]="formData.RLG_Join_Date" id="RLG_Join_Date" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cognizant_id">RLG Leaving Date:</label>
                        </td>
                        <td>
                            <input type="date" name="RLG_Leaving_Date" [(ngModel)]="formData.RLG_Leaving_Date" id="RLG_Leaving_Date" class="form-control">
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label for="cognizant_id">RLG Reporting Manager:</label>
                        </td>
                        <td>
                            <input type="text" name="RLG_Rprt_Mgr" [(ngModel)]="formData.RLG_Rprt_Mgr" id="RLG_Rprt_Mgr" class="form-control">
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label for="cognizant_id">RLG Asset Number(onshore):</label>
                        </td>
                        <td>
                            <input type="text" name="Asset_No_Onshore" [(ngModel)]="formData.sset_No_Onshore" id="Asset_No_Onshore" class="form-control">
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <label for="cognizant_id">VM Number(offshore):</label>
                        </td>
                        <td>
                            <input type="text" name="VM_No_Offshore" [(ngModel)]="formData.VM_No_Offshore" id="VM_No_Offshore" class="form-control">
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label for="cognizant_id">Comments:</label>
                        </td>
                        <td>
                            <textarea row="5" cols="20" name="Comments" [(ngModel)]="formData.Comments" id="Comments" class="form-control"></textarea>
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <label for="cognizant_id">Primary SkillSet:</label>
                        </td>
                        <td>
                            <input type="text" name="Primary_Skill" [(ngModel)]="formData.Primary_Skill" id="Primary_Skill" class="form-control">
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <label for="cognizant_id">Status:</label>
                        </td>
                         <td>
                            <select  name="status" [(ngModel)]="formData.status" id="status" class="form-control" placeholder="select">
                                <option *ngFor="let alloc of status" [value]=alloc.id>{{alloc.name}}</option>
                          </select>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <button  class="btn btn-info" (click)="onSubmit()"><b>submit</b></button>
    </form>
</div>
               
                    
                    
                    
